@import "variables";

.music {
  header {
    background-color: var(--color-primary);
    box-sizing: border-box;
    color: white;
    font-size: 300%;
    padding: var(--margin) calc(2 * var(--grid-size));
    padding-top: calc(2 * var(--margin));

    @media screen and (min-width: 600px) {
      font-size: 400%;
    }
  }

  .intro {
    font-size: 120%;
    line-height: 1.5;
    margin-bottom: var(--margin);
    padding: 0 var(--grid-size);

    p {
      margin-bottom: var(--grid-size);
    }
  }

  .panel-container {
    line-height: 2;
    text-align: left;

    audio {
      display: block;
      margin-top: calc(2 * var(--grid-size));
      width: 100%;
    }

    h2 {
      margin-bottom: 0;
      text-transform: capitalize;
    }

    h3 {
      font-style: italic;
    }

    li .feather {
      height: 1.2rem;
      stroke: var(--color-primary);
      vertical-align: sub;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .button {
      border: 1px solid var(--color-primary);
      border-radius: 3px;
      box-sizing: border-box;
      color: var(--color-text);
      display: inline-flex;
      margin-top: calc(2 * var(--grid-size));
      text-decoration: none;
      transition: all 0.2s ease-in-out;
      width: auto;
    }

    .button-icon {
      background-color: var(--color-primary);
      padding: var(--half-grid-size);

      .feather {
        height: 1.3rem;
        stroke: white;
        transition: all 0.2s ease-in-out;
        vertical-align: sub;
      }
    }

    .button-text {
      padding: var(--half-grid-size) var(--grid-size);
    }

    .button:hover {
      background-color: var(--color-background);

      .feather {
        stroke: var(--color-text);
      }
    }
  }
}
